<mat-accordion class="filter">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span>Filtrar</span>
            </mat-panel-title>
            <mat-panel-description>
                
            </mat-panel-description>
        </mat-expansion-panel-header>
        <input type="search" id="filter-input" placeholder="Nome do anime" class="form-control"
            [(ngModel)]="name" name="name" />
    </mat-expansion-panel>
</mat-accordion>