<mat-accordion class="filter">
    <mat-expansion-panel (opened)="open = true" (closed)="open = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span>Filtrar</span>
            </mat-panel-title>
            <mat-panel-description>
                <div *ngIf="!open">
                    <div class="d-none d-lg-block">
                        <span *ngIf="name != ''">Nome: <em>{{name}}</em></span>
                        <span *ngIf="studio != ''">Estúdio: <em>{{studio}}</em></span>
                        <span *ngIf="dateMin != ''">De: <em>{{dateMin | date: 'dd/MM/yyyy'}}</em></span>
                        <span *ngIf="dateMax != ''">Até: <em>{{dateMax | date: 'dd/MM/yyyy'}}</em></span>
                        <span *ngIf="media != ''">Mídia: <em>{{media | animeMedia}}</em></span>
                        <span *ngIf="type != ''">Original: <em>{{type | animeType}}</em></span>
                        <span *ngIf="target != ''">Público: <em>{{target | animeTarget}}</em></span>
                    </div>
                    <div class="d-lg-none">
                        <span>Há filtros aplicados</span>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form>
            <div class="row g-2">
                <div class="col-12 col-sm-6">
                    <label for="filter-name">Nome do anime:</label>
                    <input type="search" id="filter-name" placeholder="Nome do anime" class="form-control"
                        [(ngModel)]="name" name="name" />
                </div>
                <div class="col-12 col-sm-6">
                    <label for="filter-studio">Estúdio:</label>
                    <input type="search" id="filter-studio" placeholder="Estúdio" class="form-control"
                        [(ngModel)]="studio" name="studio" />
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for="filter-date-min">De data:</label>
                    <input type="date" id="filter-date-min"class="form-control" name="date-min"
                        [(ngModel)]="dateMin" />
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for="filter-date-max">Até data:</label>
                    <input type="date" id="filter-date-max" placeholder="Até" class="form-control"
                        [(ngModel)]="dateMax" name="date-max" />
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for="filter-media">Mídia:</label>
                    <select [(ngModel)]="media" id="filter-media" name="media" class="form-control form-select">
                        <option *ngFor="let mediaValue of mediaValues" [value]="mediaValue">{{mediaValue | animeMedia}}</option> 
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for="filter-type">Original:</label>
                    <select [(ngModel)]="type" id="filter-type" name="type" class="form-control form-select">
                        <option *ngFor="let typeValue of typeValues" [value]="typeValue">{{typeValue | animeType}}</option> 
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for="filter-target">Público-alvo:</label>
                    <select [(ngModel)]="target" id="filter-target" name="target" class="form-control form-select">
                        <option *ngFor="let targetValue of targetValues" [value]="targetValue">{{targetValue | animeTarget}}</option> 
                    </select>
                </div>
                <div class="col-6 col-sm-2 position-relative">
                    <button type="reset" id="form-reset" name="filter-reset" class="btn position-absolute bottom-0">Limpar</button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>