$a21-laranja: (
    50 : #fdebe3,
    100 : #f9cdb9,
    200 : #f6ab8a,
    300 : #f2895b,
    400 : #ef7037,
    500 : #ec5714,
    600 : #ea4f12,
    700 : #e7460e,
    800 : #e43c0b,
    900 : #df2c06,
    A100 : #ffffff,
    A200 : #ffd9d4,
    A400 : #ffada1,
    A700 : #ff9787,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$a21-verde: (
    50 : #e0efef,
    100 : #b3d7d7,
    200 : #80bcbc,
    300 : #4da1a1,
    400 : #268d8d,
    500 : #007979,
    600 : #007171,
    700 : #006666,
    800 : #005c5c,
    900 : #004949,
    A100 : #7dffff,
    A200 : #4affff,
    A400 : #17ffff,
    A700 : #00fcfc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
