.bg-primary {
    background-color: map-get($theme-primary, "main") !important;
    color: $light-text;
}

.a21-header > .container {
    display: block;
    max-width: none;
}

.a21-header .dropdown > button {
    box-shadow: none !important;
    color: #fff;
    font-size: 1.25rem;
    line-height: 20px;
    margin-right: 1rem;
    opacity: .7;
    padding: .5rem;
}

.a21-header .dropdown > button:hover {
    opacity: 1;
}

.a21-header .dropdown > button:active {
    padding: calc(.5rem - 1px)
        calc(.5rem - 1px)
        calc(.5rem + 1px)
        calc(.5rem + 1px);
}

.a21-header-menu .dropdown-item {
    letter-spacing: normal;
}

.a21-header .navbar-brand, .a21-header .navbar-text {
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar-brand {
    font-weight: bold;    
}

.navbar-text {
    font-size: $navbar-brand-font-size;
    margin-right: 1rem;
}

.navbar-text.login {
    font-size: 1rem;
}

.navbar-text.login span {
    padding: 0 .5rem;
}

.navbar-text.login a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.navbar-text.login a:hover {
    color: map-get($theme-accent, "main");
}

.a21-header .form-switch {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.a21-header .form-switch input[type=checkbox] {
    margin-top: 0.15rem;
}

.a21-header .form-switch .form-check-input[type=checkbox]:checked {
    background-color: rgba(0, 0, 0, 0.38);
}

.a21-header .form-switch .form-check-input:checked[type=checkbox]::after {
    background-color: #fff;
}

.a21-header .form-switch .form-check-input[type=checkbox] + .form-check-label {
    color: rgba(0, 0, 0, 0.38);
}

.a21-header .form-switch .form-check-input[type=checkbox]:checked + .form-check-label {
    color: #fff;
}

.filter.mat-accordion, .filter.mat-accordion .mat-expansion-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filter mat-panel-title.mat-expansion-panel-header-title {
    flex-grow: unset;
}

.filter mat-panel-description.mat-expansion-panel-header-description {
    flex-grow: inherit;
}

.filter .mat-expansion-panel-header-description > div {
    text-align: center;
    width: 100%;
}

.filter .mat-expansion-panel-header-description span {
    font-size: .7rem;
}

.filter .mat-expansion-panel-header-description span::after {
    content: '|';
    margin: 0 .5rem;
}

.filter .mat-expansion-panel-header-description span:last-child::after {
    content: '';
}

.filter .mat-expansion-panel-header-description span em {
    font-weight: bold;
}

.filter.mat-accordion label {
    font-size: .7rem;
}

.filter.mat-accordion .form-control {
    font-size: .7rem;
    min-height: calc(1.75rem + 0.33rem + 2px);
    padding-bottom: 0.27rem;
    padding-top: 0.27rem;
}

.filter.mat-accordion .form-check-input {
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    display: block;
    height: 1.2rem;
    padding: .09rem;
    position: static;
    margin-top: .47rem;
    width: 1.2rem;
}

.card-group {
    justify-content: space-around;
}

.card-group > .card {
    flex-grow: 0;
    margin: .5rem 0;
    max-width: 480px;
    min-width: 360px;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.3rem 1rem .1rem;
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 .7rem .3rem;
}

.card-title .button-edit {
    background: transparent;
    border: 0;
    color: #000;
    display: block;
    margin: 0;
    opacity: .3;
    padding: 0;
    position: absolute;
    right: .3rem;
    top: .3rem;
}

.card-title .button-edit:hover {
    opacity: 1;
}

.card-title .button-edit:active {
    right: calc(.3rem - 1px);
    top: calc(.3rem - 1px);
}

.card-subtitle {
    color: #757575;
    font-size: .7rem;
}

.card-body {
    padding: 0;
}

.card-body .list-group {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body .list-group-item {
    font-size: .7rem;
    padding: .3rem .5rem;
}

.card-body .list-group-item .row > *:first-child {
    padding-right: 0;
}

.card-body .list-group-item .row > *:last-child {
    padding-left: 0;
}

a.card-link {
    float: left;
    height: 16px;
    margin: 0 4px !important;
    overflow: hidden;
    width: 16px;
}

a.card-link.link-to-website::after {
    content: url(assets/images/globe.png);
}

a.card-link.link-to-twitter::after {
    content: url(assets/images/twitter.png);
}

a.card-link.link-to-ytchannel::after, a.card-link.link-to-ytplist::after {
    content: url(assets/images/youtube.png);
}

a.card-link.link-to-mal::after {
    content: url(assets/images/myanimelist.png);
}

a.card-link.link-to-anilist::after {
    content: url(assets/images/anilist.png);
}

a.card-link.link-to-anidb::after {
    content: url(assets/images/anidb.png);
}

a.card-link.link-to-ann::after {
    content: url(assets/images/animenewsnetwork.png);
}

a.card-link.link-to-kitsu::after {
    content: url(assets/images/kitsu.png);
}

a.card-link.link-to-livechart::after {
    content: url(assets/images/livechart.png);
}

a.card-link.link-to-wikipt::after, a.card-link.link-to-wikien::after {
    content: url(assets/images/wikipedia.png);
}

a.card-link.link-to-fandom::after {
    content: url(assets/images/fandom.png);
}

.btn.fas {
    font-weight: 900;
}

.cdk-overlay-container {
    z-index: 1040;
}

.anime-edit-modal.modal-dialog-scrollable {
    height: inherit !important;
}

.anime-edit-modal .modal-header {
    font-size: 1.1rem;
    font-weight: bold;
}

.anime-edit-modal label {
    font-size: .7rem;
}

app-anime-edit-modal .row + .row {
    margin-top: .5rem;
}

.form-anime .button-add {
    color: map-get($theme-accent, "main");
}

.form-anime .button-remove {
    color: map-get($theme-warn, "main");;
}

.form-anime .button-add, .form-anime .button-remove {
    background: transparent;
    border: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0;
    opacity: .7;
    padding: .5rem;
}

.form-anime .button-add:hover, .form-anime .button-remove:hover {
    opacity: 1;
}

.form-anime .button-add:active, .form-anime .button-remove:active {
    padding: calc(.5rem - 1px)
        calc(.5rem - 1px)
        calc(.5rem + 1px)
        calc(.5rem + 1px);
}

.btn-verde,
.btn-check + .btn-verde,
.btn-check + .btn-verde,
.show > .btn-verde.dropdown-toggle {
    color: #fff;
    background-color: map-get($theme-accent, "main");
}

.btn-verde:hover, .btn-verde:focus, .btn-verde.focus {
    color: #fff;
    background-color: map-get($theme-accent, "darker");
}