.bg-primary {
    background-color: map-get($theme-primary, "main") !important;
    color: $light-text;
}

.a21-header > .container {
    display: block;
    max-width: none;
}

.a21-header .navbar-brand, .a21-header .navbar-text {
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar-brand {
    font-weight: bold;    
}

.navbar-text {
    font-size: $navbar-brand-font-size;
    margin-right: 1rem;
}

.a21-header .form-switch {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.a21-header .form-switch input[type=checkbox] {
    margin-top: 0.15rem;
}

.a21-header .form-switch .form-check-input[type=checkbox]:checked {
    background-color: rgba(0, 0, 0, 0.38);
}

.a21-header .form-switch .form-check-input:checked[type=checkbox]::after {
    background-color: #fff;
}

.a21-header .form-switch .form-check-input[type=checkbox] + .form-check-label {
    color: rgba(0, 0, 0, 0.38);
}

.a21-header .form-switch .form-check-input[type=checkbox]:checked + .form-check-label {
    color: #fff;
}

.filter.mat-accordion, .filter.mat-accordion .mat-expansion-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filter.mat-accordion label {
    font-size: .7rem;
}

.filter.mat-accordion .form-control {
    font-size: .7rem;
    min-height: calc(1.75rem + 0.33rem + 2px);
    padding-bottom: 0.27rem;
    padding-top: 0.27rem;
}

.card-group {
    justify-content: space-around;
}

.card-group > .card {
    flex-grow: 0;
    margin: .5rem 0;
    max-width: 480px;
    min-width: 360px;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.3rem 1rem .1rem;
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .3rem;
}

.card-subtitle {
    color: #757575;
    font-size: .7rem;
}

.card-body {
    padding: 0;
}

.card-body .list-group {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body .list-group-item {
    font-size: .7rem;
    padding: .3rem .5rem;
}

.card-body .list-group-item .row > *:first-child {
    padding-right: 0;
}

.card-body .list-group-item .row > *:last-child {
    padding-left: 0;
}

.btn.fas {
    font-weight: 900;
}