<div class="card-header">
    <div class="card-title">
        {{anime.name}}
        <a *ngIf="editable" type="button" class="button-edit fas fa-edit" [routerLink]="'/edit/' + anime.key"></a>
    </div>
    <div class="card-subtitle">{{anime.firstRun | date: 'dd/MM/yyyy'}}</div>
</div>
<div class="card-body row g-0">
    <div class="col-sm-4">...</div>
    <ul class="list-group list-group-flush col-sm-8">
        <li class="list-group-item container">
            <div class="row">
                <span class="card-text col-sm-6">{{anime.studio}}</span>
                <span class="card-text col-sm-6 text-end">{{anime.media | animeMedia}}</span>
            </div>
        </li>
        <li class="list-group-item container">
            <div class="row">
                <span class="card-text col-sm-6">{{anime.type | animeType}}</span>
                <span class="card-text col-sm-6 text-end">{{anime.target | animeTarget}}</span>
            </div>
        </li>
    </ul>
</div>
<div class="card-footer">
    <a *ngFor="let link of anime.links; trackBy: trackLinkChange" [href]='link | animeLink' class='card-link link-to-{{link.site | lowercase}}' target="_blank"></a>
</div>